import React from 'react';

import { N{{ pascalCase name }} } from '@namespace/index';

// import { secureConsole } from '@secure-console/index'

export const {{ pascalCase name }}Component: React.FC<N{{ pascalCase name }}.IComponentProps> = ({ {{ componentProps }} }) => {
    // HERE YOU CAN DESTRUCTURING DATA OR DO SOMETHING ELSE 
    
    return (  
        <div>
            {{ pascalCase name }} component
        </div>
    );
}